body{
	font-family:Microsoft JhengHei;
}

.MemberTitle{
	margin: 25px;
	font-size: 45px;
	text-align: center;
}

.MemberBtns{
	padding-left: 320px;
	margin: auto;
}

.InfoBtn{
	height: 200px;
	width: 200px;
	font-size: 25px;
	float: left;
}

.HistoryBtn{
	margin-left: 100px;
	height: 200px;
	width: 200px;
	font-size: 25px;
}


/*MemeberInfo*/

.errorLabel{
	padding-top: 7px;
	color: red;
	display: none;
}

